@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.spacer {
  flex: 1;
}

.page-header {
  display: flex;
  padding: 0.8rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--bs-border-color);
  align-items: center;
  min-height: 4.037rem;
}

.page-footer {
  display: flex;
  align-items: center;
}

